


<!-- 
 
<h2>Lazy loading Example</h2>
<div>
  <a routerLink="first">First Module</a>
  <a routerLink="second">Second Module</a>
  <a routerLink="users">All Users</a>
</div>

<router-outlet></router-outlet>
 
-->

<h1 style="text-decoration-color: gray;">The Combined Application</h1>
<div >
  <a routerLink="Form">Forms</a>
  <a routerLink="banking">Banking</a>
  <a routerLink="cards">Cards</a>
  <a routerLink="emi">Emi Calc</a>
</div>
<router-outlet></router-outlet>


<!-- 
<h2>The Combined Routing App</h2>
<div>
  <a routerLink="Form">Forms</a>
  <a routerLink="banking">Banking</a>
</div>
<router-outlet></router-outlet>
-->
<!--
  <h2>Lazy loading Example</h2>
<div>
  <a routerLink="first">First Module</a>
  <a routerLink="second">Second Module</a>
</div>
<router-outlet></router-outlet>

-->
<!--
<form name="form" #frm="ngForm">
  <p>
    <input type="text" name="name" required [(ngModel)]="user.name" #name="ngModel" required  minlength="5" pattern='^[a-zA-Z_]+$'/>
  </p>

  <div *ngIf="name.invalid && (name.touched || name.dirty)">
    <div *ngIf="name.errors?.['required']">
      <strong>Name field is required </strong>
    </div>
  </div>

  <div *ngIf="name.errors?.['minlength']">
   
      <strong> Name should be atleast 5 char  </strong>
    
  </div>
  
  <div *ngIf="name.errors?.['pattern']">
   
    <strong> Name should be alphabet only  </strong>
  
</div>



</form>

-->

<!-- form first text box-->
<!-- 
<form name="form" #frm="ngForm" (ngSubmit)="frm.valid && afterSubmit()">
  <p>
    <input type="text" name="name" required [(ngModel)]="user.name" #name="ngModel" required  minlength="5" pattern='^[a-zA-Z_]+$'/>
  </p>


  <div *ngIf="name.invalid && (name.touched || name.dirty)">
    <div *ngIf="name.errors?.['required']">
      <strong>Name field is required </strong>
    </div>
  </div>

  <div *ngIf="name.errors?.['minlength']">
   
      <strong> Name should be atleast 5 char  </strong>
    
  </div>
  
  <div *ngIf="name.errors?.['pattern']">
   
    <strong> Name should be alphabet only  </strong>
  
</div>
-->
<!--Text Box For city -->

<!--
  <p>
    <input type="text" name="city" required [(ngModel)]="user.city" #city="ngModel" required  minlength="5" pattern='^[a-zA-Z_]+$'/>
  </p>

  <div *ngIf="city.invalid && (name.touched || name.dirty)">
    <div *ngIf="name.errors?.['required']">
      <strong>Name field is required </strong>
    </div>
  </div>

  <div *ngIf="city.errors?.['minlength']">
   
      <strong> Name should be atleast 5 char  </strong>
    
  </div>
  
  <div *ngIf="city.errors?.['pattern']">
   
    <strong> Name should be alphabet only  </strong>
  
</div>
<p>
  <button type="Submit" [disabled] = "frm.invalid">Submit</button>
</p>


</form>

-->
<!--
pristine -pure not being touched not dragged mouse and untouched -touched or dragged mouse on it is the same 
untouched
touched
dirty - when we start typing on it 
valid - depend on validation rule
invalid

-->