<p>second works!</p>

<!--
<form [formGroup]="form">
    <p>
        <input type="text" />
    </p>

    <div *ngIf="f['name'].invalid && (f['name'].touched || f['name'].dirty)">

    <div *ngIf="f['name'].errors && f['name'].errors['required']">
        Name is Required
    </div>

    <div *ngIf="f['name'].errors && f['name'].errors['minlength']">
        Name should be 5 char long
    </div>

    <div *ngIf="f['name'].errors && f['name'].errors['pattern']">
       
        Name can have only alphabet!!

    </div>
    </div>



    <p>
        <input type="text" formControlName="city"/>
    </p>

    <div *ngIf="f['city'].invalid && (f['city'].touched || f['city'].dirty)">

    <div *ngIf="f['city'].errors && f['city'].errors['required']">
        City is Required
    </div>

    <div *ngIf="f['city'].errors && f['city'].errors['minlength']">
        City should be 5 char long
    </div>

    <div *ngIf="f['city'].errors && f['city'].errors['pattern']">
       
        City can have only alphabet!!

    </div>
    </div>


    
 <p><button type="submit">Submit</button></p>
</form>
-->